.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Centra verticalmente en la pantalla */
}
 
h1 {
    font-size: x-large;
    color: rgb(100, 26, 60);
}
 
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border: none;
   
}